.form {
  padding: 50px;
  align-content: center;
}

.form div {
  width: 100%;
}

h3 {
  margin-bottom: 5px;
}

.proceedBtn {
  width: 50%;
}

.gridInput {
  margin-bottom: 20px !important;
}

.paragraph {
  color: dimgray;
  font-size: small !important;
}

.lastparagraph {
  color: dimgray;
  font-size: small !important;
  margin-bottom: 10px !important;
}

.backdrop {
  z-index: 1 !important;
}

.imgCustomStyle {
  width: 300px;
  height: 50px;
  margin: 10px 0;
}

.gridCustomStyle {
  margin-top: 20px;
  margin-bottom: 200px;
  margin-left: 25px;
  filter: invert(var(--image-griditem-invert));
}

.forgotPassHeader {
  color: black !important;
}

.title {
  color: #bd4b4b;
  text-align: center;
  font-size: 6rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.167;
  letter-spacing: -0.01562em;
}

.message {
  padding-top: 10px;
  min-width: 200px;
  max-width: 730px;
  text-align: center;
  color: black !important;
}

.body {
  margin: 30px;
  min-height: 50vh;
  filter: invert(var(--image-griditem-invert));
}
