@import "../../index.scss";

.imgCustomStyle {
  width: 300px;
  height: 70px;
  margin: 10px 0;
}
.marginTop20 {
  margin-top: 20px;
  filter: $grid-item-invert;
}
.marginBottom20 {
  margin-bottom: 20px;
}
.cardCustomStyle {
  display: flex;
  flex: 1;
  flex-direction: initial;
  justify-content: flex-end;
}
@media screen and (max-width: 600px) {
  .cardCustomStyle {
    height: 65vh;
    width: 100%;
  }
  .cardMediaCustomStyle {
    visibility: hidden;
  }
}
.cardMediaCustomStyle {
  width: 350px;
  height: 400px;
  object-fit: cover;
  padding-left: 30px;
  filter: $grid-item-invert;
  flex-basis: calc((100% - 2px) / 3);
}
.marginLeft10 {
  margin-left: 10px;
}
.marginTop75 {
  margin-top: 75px;
}
.floatRight {
  float: right;
}
.fontSize15 {
  font-size: 15px;
}
.toolbarCustomStyle {
  justify-content: space-between;
  overflow-x: auto;
}
