.overflowXauto {
  overflow-x: auto;
}

.linkCustomStyle {
  padding: 1;
  flex-shrink: 0;
  margin-right: 20px;
}

.colorBlack {
  color: black;
}

.userName {
  padding: 1;
  flex-shrink: 0;
  color: #433D3C;
  font-weight: bold;
  font-style: italic;
}
