@import "../index.scss";

.overflowXauto {
  overflow-x: auto;
}
.linkCustomStyle {
  padding: 1;
  flex-shrink: 0;
  margin-right: 20px;
}
.colorBlack {
  color: black;
  filter: $filter-invert-image;
}
.userName {
  padding: 1;
  flex-shrink: 0;
  font-weight: bold;
  font-style: italic;
  color: $foreground-color;
}
.logoutBtn {
  float: right;
  padding: 0;
  margin-top: -5px;
  margin-right: -7px;
  color: $foreground-color;
}
.footer {
  background-color: $background-color;
}
.footerTypography {
  color: $foreground-color;
}
.signUpBtn {
  color: $foreground-color;
}
.loginBtn {
  background-color: $login-button-color;
  margin-right: 10px;
}
