@import "../../index.scss";

.instrumentCard {
  background-position: center;
  background-size: cover;
  filter: $filter-invert-about-us;
}
.fontBold {
  font-weight: bold;
}
.marginTopBottomAuto {
  margin-top: auto;
  margin-bottom: auto;
}
.boxImg {
  width: 13%;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  position: absolute;
  border-radius: 0.375rem;
  filter: $filter-invert-about-us;
}
@media screen and (max-width: 600px) {
  .boxImg {
    width: 30%;
  }
  .marginTopBottomAuto {
    padding-left: 145px;
  }
}
.mainCard {
  filter: $grid-item-invert;
}
.mainBox {
  min-height: 75vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  background-image: url("../../../public/images/about_us_background.jpg");
  filter: $grid-item-invert;
}
.secondMainHeading {
  background-color: #dddddd;
  font-weight: bold;
  color: black !important;
}
.firstGrid {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.contentCenter {
  justify-content: center;
  text-align: center;
}
.height100 {
  height: 100%;
}
.marginLeftAuto {
  margin-left: auto;
}
.translatePiano {
  transform: translate(60px, -90px);
}
.translateDrums {
  transform: translate(-80px, -90px);
}
@media screen and (max-width: 600px) {
  .translateDrums {
    transform: translate(-40px, -90px);
  }
}
.translateGuitar {
  transform: translate(-20px, 45px);
}
.translateVoice {
  transform: translate(-135px, 45px);
}
.instrumentsGrid {
  display: inherit;
  text-align: center;
  margin-top: 30px;
}
.instrumentTypography {
  text-align: center;
  margin-top: 30px;
  margin-left: -30px;
}
.instrumentsContainer {
  justify-content: center;
  background-color: lightgrey;
  margin-left: -16px;
  width: 110%;
  margin-top: 45px;
  height: 400px;
}
.fontSize60 {
  font-size: 60px;
}
.iconsContainer {
  display: inherit;
  text-align: center;
  margin-top: 50px;
}
.iconsTypography {
  text-align: center;
  margin-top: 30px;
}
.teamTypography {
  color: white;
  opacity: 0.8;
}
.teamSection {
  background-color: #433d3c;
  position: relative;
}
.adImage {
  filter: $filter-invert-about-us;
}
@media screen and (max-width: 900px) {
  .marginTopBottomAuto {
    padding-left: 145px;
  }
  .translateDrums {
    transform: translate(-40px, -90px);
  }
}
